.add-option-error {
  color: $off-white;
  font-style: italic;
  margin-top: $m-size 0 0 0;
  padding: 0 $m-size;
}

//// form style
.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;

  &__input {
    flex-grow: 1;
    border: none;
    background-color: $darker-blue;
    border-bottom: 0.3rem solid darken($darker-blue, 10%);
    margin: 0 0 $s-size 0;
    // margin-right: $s-size;
    color: $off-white;
    font-size: $m-size;
    padding: $s-size;
  }
}

// mobo-consideration
@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
    &__input {
      margin: 0 $s-size 0 0;
    }
  }
}
